@model IEnumerable<WebApplication1.Models.Items>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container-fluid">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Create New", "Create")</li>
        <li>@Html.ActionLink("All Items", "Index")</li>
        <li>@Html.ActionLink("Ordered Items", "Order")</li>
        <li>@Html.ActionLink("Search Items", "Search")</li>
    </ul>
</div>
<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4 d-flex justify-content-center">
                @Html.Partial("_Items", item)
            </div>

        }
    </div>
</div>
